<div class="container">
  <form class="filter-form" [formGroup]="formGr" (ngSubmit)="start()">
    <mat-form-field>
      <input matInput placeholder="Число товаров" formControlName="countOfProducts"
        oninput="this.value = this.value.replace (/\D/gi, '')">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Число торговых точек" formControlName="countOfStores"
        oninput="this.value = this.value.replace (/\D/gi, '')">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Число дней" formControlName="countOfDays"
        oninput="this.value = this.value.replace (/\D/gi, '')">
    </mat-form-field>
    <button class="btn-action" mat-stroked-button color="primary" type="submit" [disabled]="currentDay !== 0">
      <i class="material-icons">input</i> Начать
    </button>
  </form>
  <div class="info">
    <div class="wrapper">
      <div class="header" [hidden]="!boxesDataSource.data || boxesDataSource.data.length === 0"> Товары </div>
      <div class="table-wrapper">
        <table mat-table [hidden]="!boxesDataSource.data || boxesDataSource.data.length === 0"
          [dataSource]="boxesDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Имя продукта </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.name }} </td>
          </ng-container>

          <ng-container matColumnDef="deliveryDate">
            <th mat-header-cell *matHeaderCellDef> Дата поставки </th>
            <td mat-cell *matCellDef="let element"> {{ element.deliveryDate }} </td>
          </ng-container>

          <!-- boxesDisplayedColumns определяет порядок вывода столбцов -->
          <tr mat-header-row *matHeaderRowDef="StorageConstants.boxesDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: StorageConstants.boxesDisplayedColumns;"></tr>
        </table>
      </div>
    </div>

    <div class="wrapper">
      <div class="header" [hidden]="!ordersDataSource.data"> Заказы </div>
      <div class="table-wrapper">
        <table mat-table [hidden]="!ordersDataSource.data || ordersDataSource.data.length === 0"
          [dataSource]="ordersDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="storeName">
            <th mat-header-cell *matHeaderCellDef> Торговая точка </th>
            <td mat-cell *matCellDef="let element"> {{ TableHelper.getStoreName(element, stores) }} </td>
          </ng-container>

          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Продукт </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.name }} </td>
          </ng-container>

          <ng-container matColumnDef="numberOfPacks">
            <th mat-header-cell *matHeaderCellDef> Число пачек </th>
            <td mat-cell *matCellDef="let element"> {{ element.numberOfPacks }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="StorageConstants.ordersDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: StorageConstants.ordersDisplayedColumns;"></tr>
        </table>
      </div>
    </div>

    <div class="wrapper">
      <div class="header" [hidden]="!deliveriesDataSource.data"> Перевозки (на завтра) </div>
      <div class="table-wrapper">
        <table mat-table [hidden]="!deliveriesDataSource.data || deliveriesDataSource.data.length === 0"
          [dataSource]="deliveriesDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Продукт </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.name }} </td>
          </ng-container>

          <ng-container matColumnDef="numberOfPacks">
            <th mat-header-cell *matHeaderCellDef> Число пачек </th>
            <td mat-cell *matCellDef="let element"> {{ element.numberOfPacks }} </td>
          </ng-container>

          <ng-container matColumnDef="numberOfBoxes">
            <th mat-header-cell *matHeaderCellDef> Число упаковок </th>
            <td mat-cell *matCellDef="let element" > {{ element.numberOfPacks / element.product.boxCapacity }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="StorageConstants.deliveriesDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: StorageConstants.deliveriesDisplayedColumns;"></tr>
        </table>
      </div>
    </div>

    <div class="wrapper">
      <div class="header" [hidden]="!requestsDataSource.data"> Заявки </div>
      <div class="table-wrapper">
        <table mat-table [hidden]="!requestsDataSource.data || requestsDataSource.data.length === 0"
          [dataSource]="requestsDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Продукт </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.name }} </td>
          </ng-container>

          <ng-container matColumnDef="numberOfBoxes">
            <th mat-header-cell *matHeaderCellDef> Число упаковок </th>
            <td mat-cell *matCellDef="let element" > {{ element.numberOfBoxes }} </td>
          </ng-container>

          <ng-container matColumnDef="deliveryDate">
            <th mat-header-cell *matHeaderCellDef> Дата поставки </th>
            <td mat-cell *matCellDef="let element" > {{ element.deliveryDate }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="StorageConstants.requestsDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: StorageConstants.requestsDisplayedColumns;"></tr>
        </table>
      </div>
    </div>

  </div>

  <div class="losses">
    <div class="header"> Потери за сегодня </div>
    <div class="losses-notes">
      <p *ngFor="let str of todayLosses"> {{ str }} </p>
    </div>
  </div>

  <span class="orders-completed" *ngIf="ordersCompleted + ordersPartlyCompleted + ordersNotCompleted > 0"> 
    Заказов полностью выполнено: {{ (ordersCompleted * 100 / (ordersCompleted + ordersPartlyCompleted + ordersNotCompleted)).toFixed(1) }}% 
  </span>
  <span class="orders-partly-completed" *ngIf="ordersCompleted + ordersPartlyCompleted + ordersNotCompleted > 0"> 
    Заказов частично выполнено: {{ (ordersPartlyCompleted * 100 / (ordersCompleted + ordersPartlyCompleted + ordersNotCompleted)).toFixed(1) }}% 
  </span>
  <span class="orders-not-completed" *ngIf="ordersCompleted + ordersPartlyCompleted + ordersNotCompleted > 0"> 
    Заказов не выполнено: {{ (ordersNotCompleted * 100 / (ordersCompleted + ordersPartlyCompleted + ordersNotCompleted)).toFixed(1) }}% 
  </span>
  <span class="total-income"> Суммарный доход: {{ totalIncome }}₽ </span>
  <span class="total-losses"> Суммарные убытки: {{ totalLosses }}₽ </span>
  <span class="current-day"> Текущий день: {{ currentDay }} </span>
  <button *ngIf="!stopped" class="btn-action next" mat-stroked-button color="primary" (click)="step()" [disabled]="currentDay === 0 || stopped">
    <i class="material-icons">forward</i> Следующий день
  </button>
  <button *ngIf="!stopped" class="btn-action all" mat-stroked-button color="primary" (click)="allSteps()" [disabled]="currentDay === 0 || stopped">
    <i class="material-icons">fast_forward</i> Симулировать все
  </button>
  <button *ngIf="!stopped" class="btn-action stop" mat-stroked-button color="primary" (click)="stop()" [disabled]="currentDay === 0 || stopped">
    <i class="material-icons">cancel</i> Остановить
  </button>
  <span class="stopped" *ngIf="stopped"> Симуляция окончена </span>
</div>